---
import { REPO, getCommitInfo } from "../../utils/git";

const { lang, lastUpdated } = Astro.locals.starlightRoute;
const filePath = Astro.locals.starlightRoute.entry.filePath;

const info = await getCommitInfo(filePath);
---

{
  lastUpdated && (
    <p>
      <span class="nowrap">
        最后更新:
        <time datetime={lastUpdated.toISOString()}>
          {lastUpdated.toLocaleDateString(lang, {
            dateStyle: "medium",
            timeZone: "UTC",
          })}
        </time>
      </span>{" "}
      {info && (
        <span class="nowrap">
          由 <a href={info.committer.href}>{info.committer.name}</a>
          在 <a href={`https://github.com/${REPO}/commit/${info.hash}`}>{info.hash.substring(0, 7)}</a>
        </span>
      )}
    </p>
  )
}

<style>
  a,
  a:visited {
    color: var(--sl-color-accent-high);
  }

  .nowrap {
    white-space: nowrap;
  }
</style>
